<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/styles/feeds_styles.css">
    <script src="../static/scripts/logout.js"></script>
    <script src="../static/scripts/feeds.js"></script>
    <title>Feeds</title>
</head>
<body>
    <div class="feeds-container">
        <header>
            <nav>
                <div class="logo">Welcome Bante</div>
                <a href="" id="signout">Sign out</a>
            </nav>
        </header>
        <article>
            <div class="create-post">
                <form>
                    <input type="text" id="title" placeholder="What's the post title?">
                    <textarea id="message" cols="30" rows="7" placeholder="What's in your mind?"></textarea>
                    <button type="submit" id="submit">Post</button>
                </form>
            </div>
            <div class="create-post">
                <h3 class="user">Bante <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <button type="submit" id="delete">Delete</button>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
                <h3 class="user">John <span>June 23, 2023</span> </h3>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt laboriosam at reiciendis? Deleniti qui animi blanditiis quae nostrum architecto, beatae veniam eligendi, commodi officiis temporibus maxime iste sed nihil.</p>
            </div>
        </article>
        <footer>
            <p>All right reserved!</p>
        </footer>
    </div>
</body>
</html>