/* THESE STYLE ATTRIBUTES ARE GIVEN TO THE HTML TEMPLATES home.html, signup.html and signin.html*/

/* THE UNIVERSAL SELECTOR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif Arial, Helvetica;
}

/* APPLIES TO THE THE BODY */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/* APPLIES TO THE HEADER */
header {
  background-color: #0080ff;
  padding: 25px 10%;
}

/* APPLIES TO THE HEADER; DESKTOP VIEW */
.desktop-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* THE NAVIGATIONS ON THE HEADER */
.home a,
ul li a,
.mobile-menu a {
  color: #fff;
}

/* THE `signin and signup` LINKS ON THE HEADER */
.desktop-menu ul {
  display: flex;
}

/* THE `signin and signup` LINKS ON THE HEADER */
.desktop-menu ul li {
  padding: 0 20px;
}

/* HOVER EFFECT FOR THE LINKS ON THE HEADER */
.desktop-menu .home a:hover,
.desktop-menu ul li a:hover {
  color: orange;
}

/* THE `home` LINK */
.desktop-menu .home {
  margin-right: auto;
}

/* MOBILE VIEW; MAKING RESPONSIVE */
.mobile-menu {
  display: none;
}

/* THE TOGGLE BAR */
.menu-toggle {
  cursor: pointer;
}

/* MAIN CONTENT AREA */
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}

/* THE  SIGN UP AND SIGN IN FORM */
form {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  margin: 5% auto;
}

/* THE `sign up` AND `sign in` H1 TEXTS IN THE FORM */
h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

/* THE SIGN UP AND SIGN IN FIELDS */
input {
  display: block;
  margin: 20px auto;
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 14px;
}

/* THE BUTTON IN THE `sign up` and `sign in` FORM */
button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* THE BUTTON IN THE `sign up` and `sign in` FORM; HOVER EFFECT */
button:hover {
  background-color: #0056b3;
}

/* SUCCESS MESSAGE WHILE SUCCESSFULL SIGN UP AND SIGN IN */
#success_msg {
  color: #1aff1a;
  margin-bottom: 15px;
  font-size: 18px;
}

/* HOW ERROR MESSAGES DISPLAY WHILE UNSUCCESSFULL SIGN UP AND SIGN IN */
#username_msg,
#email_msg,
#password_msg,
#signin_username_error,
#signin_password_error {
  text-align: left;
  margin-left: 7px;
  color: #ff0000;
}

/* THE FOOTER */
footer {
  background-color: #0080ff;
  padding: 25px;
  margin-top: auto;
}

/* THE FOOTER'S TEXT */
footer p {
  text-align: center;
  color: #fff;
}

/* THE PAGE IS DESIGNED TO BE RESPONSIVE */
@media (max-width: 768px) {
  form {
    width: 80%;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
    float: right;
  }

  .menu-toggle {
    color: #fff;
  }

  .menu {
    background-color: #b0d7ff;
    display: none;
    padding: 5%;
    position: absolute;
    top: 7%;
    right: 0%;
    width: 80%;
  }
  .menu li {
    padding: 15px;
    text-align: center;
  }
  .menu li a {
    text-align: center;
  }
  .menu li a:hover {
    color: orange;
  }
}
